input, select {
    height: 25px;
    border: 2px solid #000000;
    text-align: center;
    width: 100%;
}

input.search_bar {
    padding: 0 10px;
    border-radius: 25px;
}

input::placeholder{
    color: #000;
    font-weight: 700;
}